@import url(../StyleSheets/App.css);

.aboutCard {
	margin: auto;
	width: fit-content;
	border-radius: 1.2rem;
	overflow: hidden;
	backdrop-filter: blur(7px) saturate(191%);
	-webkit-backdrop-filter: blur(7px) saturate(191%);
	background-color: rgba(43, 52, 76, 0.56);
	border: 0.8px solid rgba(255, 255, 255, 0.125);
}
.aboutCardBody {
	margin: 1rem 0.8rem !important;
}
.aboutCardTitle {
	font-family: var(--secondaryFont);
	font-weight: 600;
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 0.9rem;
}
.aboutCardText {
	font-family: var(--secondaryFont);
	font-size: 1.1rem;
	text-align: center !important;
}
.aboutCardText > span {
	font-family: var(--primaryFont);
	font-size: 1.15rem;
	font-weight: 600;
}
