@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

:root {
	--primaryFont: 'Kalam', cursive;
	--secondaryFont: 'Raleway', sans-serif;
}
.mainContainer {
	position: relative;
	margin: 1.8rem 1rem;
	width: inherit;
	height: inherit;
}
