@import url(../StyleSheets/App.css);
.pageHeading {
	font-family: var(--secondaryFont);
	font-weight: 600;
	margin: 0px 4px;
}

/* Media queries */
@media (max-width: 500px) {
	.pageHeading {
		font-size: 2rem;
	}
}
@media (max-width: 400px) {
	.pageHeading {
		font-size: 1.8rem;
	}
}
