@import url(../StyleSheets/App.css);
#navbar {
	color: white;
	position: fixed;
	top: 0px;
	z-index: 99;
	width: 100vw;
	backdrop-filter: blur(7px) saturate(191%);
	-webkit-backdrop-filter: blur(7px) saturate(191%);
	background-color: rgba(43, 52, 76, 0.56);
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.navTitle {
	color: white !important;
}
.navLink {
	color: white !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.loginBtn {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.loginBtn:hover {
	color: white;
}
