@import url(../StyleSheets/App.css);
#divCard {
	min-height: 100%;
	border-radius: 1.2rem;
	overflow: hidden;
	backdrop-filter: blur(7px) saturate(191%);
	-webkit-backdrop-filter: blur(7px) saturate(191%);
	background-color: rgba(43, 52, 76, 0.56);
	border: 0.8px solid rgba(255, 255, 255, 0.125);
}
.cardBody {
	margin: 0.8rem 0.3rem;
}
h4 {
	font-family: 'Kalam', cursive;
	font-size: 1.8rem;
	font-weight: 700;
}
.cardNote {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
}
.cardTag {
	font-size: 1.1rem;
}
img {
	height: 21rem;
	width: 27rem;
}
.cardTag {
	font-family: 'Kalam', cursive;
	font-weight: 400;
}
small {
	font-weight: bolder;
	color: rgb(217, 216, 216);
}
