@import url(../StyleSheets/App.css);
#notesCard {
	min-height: 100%;
	border-radius: 1.2rem;
	overflow: hidden;
	backdrop-filter: blur(7px) saturate(191%);
	-webkit-backdrop-filter: blur(7px) saturate(191%);
	background-color: rgba(43, 52, 76, 0.56);
	border: 0.8px solid rgba(255, 255, 255, 0.125);
}
.notesCardBody {
	margin: 0.8rem 0.3rem;
}
.notesCardTitle {
	font-family: var(--primaryFont);
	font-size: 1.8rem;
	font-weight: 700;
}
.notesCardNote {
	font-family: var(--secondaryFont);
	font-weight: 400;
	font-size: 1.1rem;
}

.astronautImg {
	height: 21rem;
	width: 27rem;
}
.notesCardTag {
	font-family: var(--primaryFont);
	font-size: 1.1rem;
	font-weight: 400;
}
small {
	font-weight: bolder;
	color: rgb(217, 216, 216);
}

/* Media queries */
@media (max-width: 500px) {
	.notesCardBody {
		margin: 0.6rem 0.2rem;
	}
}
@media (max-width: 530px) {
	.astronautImg {
		height: 100%;
		width: 100%;
	}
}
@media (max-width: 400px) {
	.notesCardBody {
		margin: 0.5rem 0rem;
	}
	h4 {
		font-size: 1.7rem;
	}
	.notesCardNote {
		font-size: 1.05rem;
	}
	.fontIcon {
		font-size: 21px !important;
	}
}
